@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

body {
    font-family: 'Manrope', sans-serif;
    background-color: var(--background-color);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container .advice-card {
    background-color: var(--advice-card-color);
    max-width: 500px;
    border-radius: 8px;
}

.container .advice-card .advice-number {
    color: var(--advice-dice-color);
    text-align: center;
    letter-spacing: 5px;
    padding: 45px 0px 20px 0px;
}

.container .advice-card .advice-text {
    color: var(--text-color);
    text-align: center;
}

.container .advice-card .pattern-divider {
    display: flex;
    justify-content: center;
    margin: 30px;
}

.advice-card .advice-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 35px;
}

.advice-button .dice{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -50%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--advice-dice-color);
}

@media (max-width: 576px) {
    .container .advice-card {
        background-color: var(--advice-card-color);
        max-width: 350px;
        border-radius: 8px;
    }
}